h1{
    color: yellow;
    background-color: blue;
    border-width: 1px;
    border-color: black;
    border-style: double;
    border-radius: 5px;
    font-family: "Courier New", "monospace";
}

h2{
    color: white;
}

h3{
    color: white;
}

body{
    background-color: black;
}

p{
    color: white;
}

.post-1:hover {
    background-color: aquamarine;
}
.post-2:hover {
    background-color: blue;
}
.post-3:hover {
    background-color: orchid; 
}
.post-4:hover {
    background-color: palegreen;
}
.post-5:hover {
    background-color: purple;
}
.post-6:hover {
    background-color: yellow;
}
.post-7:hover {
    background-color: rosybrown;
}
.post-8:hover {
    background-color: lawngreen;
}
.post-9:hover {
    background-color: indianred;
}

