h1{
    color: yellow;
    background-color: blue;
    border-width: 1px;
    border-color: black;
    border-style: double;
    border-radius: 5px;
    font-family: "Courier New", "monospace";
}

h2{
    color: white;
}

h3{
    color: white;
}

body{
    background-color: black;
}

p{
    color: white;
}



